/* Element */
li {

}
/* class */
.hello{

}
/* id */
#name{

}
/* star / select everything */

*{
	border: 1px solid yellow;
}

/* Descendent Selector */

li a {
	background: black;
	color: white;
}

/* Adjacent Selector / all in the same level */

h4 + ul {
	border: 4px solid blue;
}

/* Attribute Selector */

a[href="https://www.google.com.mx"] {
	background: purple;
}

/* nth of type */
ul:nth-of-type(3){
	background: blue;
}