h1	{
	font-size: 50px;
	text-align: center;
}

table {
	margin: auto;
}

td {
	width: 100px;
	height: 100px;
	text-align: center;
}

td.a {
	border-right: 2px solid black;
	border-bottom:  2px solid black;
}

td.b {
	border-right: 2px solid black;
	border-bottom:  2px solid black;
}

td.c {
	border-bottom:  2px solid black;
}

td.d {
	border-right:  2px solid black;
}

td.e {
	border-right:  2px solid black;
}

td.g {
	border-right:  2px solid black;
	border-top: 2px solid black;
}

td.h {
	border-right:  2px solid black;
	border-top: 2px solid black;
}

td.i {
	border-top: 2px solid black;
}
