h1 {
	color: rgb(10,50,100);
}

h4 {
	color: rgba(11, 99, 159, 1);
	background: rgb(255,100,80);
	border: 5px solid white;
}

li {
	color: blue;
}

body {
	background: url(https://images4.alphacoders.com/106/106826.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}